<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome to The Mandalorian Fan Website</h1>

    <div class="menu_bar">
    <a href="/about">About</a>
    <a href="/works">Works</a>
    <a href="/photos">Photo Gallery</a>
    </div>
    
    <img class="bar" src="/images/bar.gif" />

  
    <h3>Explore the Galaxy</h3>
    
    <p>Dive into The Mandalorian's universe with episode guides, 
    character profiles, and in-depth articles.</p>
    

    <h3>Join the Community</h3>
    
    <p>Connect with fans from all corners of the galaxy in our vibrant 
    community forums, where you can discuss theories, share fan art, 
    and celebrate your love for The Mandalorian.</p>
    
    <h3>Stay Informed</h3>
    
    <p>Get the latest news, trailers, and updates about The Mandalorian 
    and related series, ensuring you're always in the know.</p>
    

    <h3>Shop Mandalorian</h3>
    
    <p>Explore our curated selection of Mandalorian merchandise, from 
    collectibles to clothing, and bring the magic of the series 
    into your own life.</p>
    

    <h3>May the Force Be with You</h3>

    <p>Join us on this epic journey through the Star Wars galaxy, 
      and may the Force be with you as we celebrate The Mandalorian 
      and all the wonders it brings to our screens.</p>

  </body>
</html>
